$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';

$grey: #CCC;

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: auto;
  position: relative;
  width: 960px;
}

text {
  font: 8px sans-serif;
  //font-weight: bold;
}

#viz{
    margin-bottom: 30px;
    background: rgba(10,10,10,0.1);
}

.node{}
.circle{opacity: 0.6;}
.txt{}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 730px;
    }
}
